.c-alert-container {
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 0;
    height: fit-content;
    width: fit-content;
    align-items: flex-end;
    position: fixed;
    z-index: 9000;
}

.c-alert {
    position: relative;
    background-color: rgba(0, 0, 0, 0.288);
    width: fit-content;
    padding: 15px 40px;
    border-radius: 8px;
    display: flex;
    transition: all 1.5s cubic-bezier(.74,.06,.32,1.44);
    transform: translateX(360px);
    margin-bottom: 6px;
    letter-spacing: 1.2px;
}

.c-alert.active {
    margin-right: 10px;
    transform: translateX(0px);
}